<div class="product-card">
    <a href="/order/create/{{_id}}"><img src="{{url}}"></a>
    {{!-- <a href="#" class="control">
        <img class="control-img" src="/img/edit.png">
    </a>
    <a href="#" class="control">
        <img class="control-img" src="/img/delete.png">
    </a> --}}
</div>